<ion-header>
  <ion-toolbar>
    <ion-title>
      Hello
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Exportoo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Go to the cards page and add your export file</p>
        <ion-button routerLink="/tabs/tab3">Let´s go</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
