<ion-header>
  <ion-toolbar>
    <ion-title>
      Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Add files</ion-label>
    <input type="file" multiple id="file" (change)="handleFileInput($event.target.files)">
  </ion-item>

  <br/><br/>
  <ion-searchbar (ionChange)="search($event)"></ion-searchbar>
  <ion-item-divider>
    Results: {{cards.length}}
  </ion-item-divider>


<ion-content text-center padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let card of cards" size="4">
        <ion-card>
          <ion-card-title>
            <div [innerHTML]="card.question"></div>
          </ion-card-title>
          <ion-card-content>
            <div [innerHTML]="card.answer"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
