<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
  </ion-item>

  <br/><br/>
  <ion-searchbar (ionChange)="search($event)"></ion-searchbar>


<ion-content text-center padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let card of cards">
        <ion-card>
          <ion-card-content style="width: 450px">
            <iframe class="iframe-card"[srcdoc]="card.question" frameborder="0"></iframe>
            <iframe class="iframe-card" [srcdoc]="card.answer" frameborder="0"></iframe>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
